/* custom-prism.css */

/* Fond sombre */
pre[class*="language-"] {
    background-color: #333;
    text-shadow: none;
    font-size: 0.875rem;
    margin: 0;
    padding: 1rem 2rem;
}
/* jsx */
pre.language-jsx {
    color: #9cdcfe;
}
/* scss */
pre.language-scss {
    color: #ce9178;
}

/* Commentaires */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

/* Chaînes de caractères */
.token.string,
.token.atrule,
.token.attr-value {
    color: #ce9178;
}
.token.class-name {
    color: #76c452;

}

.token.keyword {
    color: #d01ce0;
}

.token.attr-name {
    color: #9cdcfe
}
/* Balises */
.token.tag {
    color: #569cd6;
}

/* Opérateurs */
.token.operator {
    color: #d4d4d4;
    background: none;
}

/* Numéros */
.token.number {
    color: #b5cea8;
}

/* Fonctions */
.token.function, .token.function-variable {
    color: #dcdcaa;
}

/* Punctuation */
.token.punctuation {
    color: #999;
}

/* Variables */
.token.variable {
    color: #9cdcfe;
}

/* Sélecteurs */
.token.selector {
    color: #d7ba7d;
}

/* Parameter */
.token.parameter {
    color: #9cdcfe;
}

/* property */
.token.property {
    color: #9cdcfe;
}

.token.important {
    color: #569cd6;
}